*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: #646262;
  font-family: source sans pro,sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}
label{
  color: whitesmoke;
}

#carouselControl{
  height: 200px;
}

#main-header{
  height: 146px;
}
.header-text {
  text-align: center;
}
/* .section-inner{
  width: 70rem;
} */
#header-carousel {
  min-height:330px;
  background-image: url('../CMHC_Header_Img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* opacity: 0.8; */
  /* color: #ffffff; */
}

#footer-section {
  min-height:330px;
  background-image: url('../CMHC Tool Picture 1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* opacity: 0.8; */
  /* color: #ffffff; */
}

#footer-copyright {
  min-height:50px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}

#input-form {
  background-color: rgb(30, 28, 41)!important;
  color: whitesmoke;
  /* background-color: rgba(0, 100, 100, 0.4)!important; */
}

#input-form-result{
  background-color: rgb(123, 122, 124)!important;
  color: whitesmoke;
  /* background-color: rgba(0, 100, 100, 0.4)!important; */
}
.form-control {
  font-weight: 600!important;
}
.header-carousel-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 330px;
  background-color: rgba(0, 0, 0, 0.4);
}

#header-text-container {
  color: #fff;
}
.top-header {
  background-color: rgb(62, 62, 62);
  color: #a8a8a8;
    font-size: 13px;
    height: 60px;
}
.right-header {
  float: right;
  text-align: right;
}

.right-header > a {
  color: #a8a8a8!important;
}

.right-header > a:hover {
  color: #eeecec!important;
  text-decoration: none!important;
}

.social > a {
  color: #a8a8a8!important;
}
.instruction-section {
  /* border-top: 1px solid black; */
  
  min-height: 250px;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.svgArea{
    /* border-color: black; */
    border:1px solid gray;
    border-radius: 5px;
}
.divInput{
    position: relative;
    width: 80%;
    left: 50px;
    top: 50px;
    border-style: solid;
    border:1px solid gray;
    border-radius: 5px;
}
.svgText{
  font-size: 16px;
  font-weight: bold;
}
.svgTextMedium{
  font-size: 15px;
}
.svgTextSmall{
  font-size: 12px;
}
.verticalTextUp{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  /* transform: translate(19%,72%) rotate(-90deg); */
  /* transform: translate(290px,500px) rotate(-90deg); */
  /* transform-origin: center; */
}
.interceptLine{
  stroke-width:1;
  stroke-dasharray: 0.3%
}
.interceptLineSource{
  stroke: blue;
}
.groundSurface{
  fill: rgba(0, 0, 0, 0.2); 
  /* #e6ffe6;  */
  /* #ace600 ; */
  fill-opacity: 50%; 
  background-color:#DFDBE5;
  /* background-color: #dbeac1; */
}
input[type="text"]:focus{
  box-shadow: 0px 0px 5px rgb(173, 171, 171);
  border:1px solid #999;
  border-radius: 10px;
  }
  
  input[type="text"]:read-only { 
    background-color: rgb(200, 205, 220);
  }

.inputFieldBorder{
  background-color:floralwhite;
}
.outputFieldBorder{
  background-color:ghostwhite;
}

.inputBox{
    width:25%;
    height:75%;
    position: relative;
    background-color: white;
    /* border: 1px solid rgb(155, 146, 146); */
    
    border-radius: 10px;
}
.inputBoxLabel{
  width:370px;
}
.inputBoxControl{
  width:150px;
}

.inputBoxSelect{
  width: 500px;
}
#main-graph-window{
    height: 4000px;
    width: 80%;
    border-style: double;
}

.main-title{
  font-weight:bold;
  color: rgb(248, 246, 250);  
}
.nav-bar{
  /* background-color:#062e7e; */
  height: 100px;
}
.navBarLink{
  background-color:#062e7e;
  height: 100%;
}
.logo{
  position: relative;
  left: 50px;
}

.active{
  float:right;
  font-size: 15px;
}

.handle{
    height: 500px;
    width:300px;
    float: left;
}
.handle2{
    position: relative; 
    /* transform: translateY(-50%); */
}

.main-graph-container{
    height: 800px;
    width: 1200px;
    padding: 0;
    margin:0;
    border-style: single;
}
.float-source,.float-middle{
    float: left;
    padding: 0%;
}

.plane{
    stroke-width:5;
}
.receiver-plane{
    stroke:rgb(158, 148, 148);
}

.source-plane{
    stroke:rgb(109, 106, 106);
}

.middle-plane{
    stroke:rgb(109, 106, 106);
    stroke-dasharray: 0.09%
}

/*
toggle switch
*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
}

.slider:before {
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
}

input:checked + .slider {
  background-color: #ffffff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media screen and (max-width: 768px) {
  .svgText{
    font-size: 12px;
    /* font-weight: bold;
    fill: red; */
  }
  .svgTextMedium{
    font-size: 10px;
  }
  .svgTextSmall{
    font-size: 8px;
  }  
}
@media screen and (min-width: 692px) {
  .header-text {
    text-align: right;
  }
}